{% extends "layout.html" %}
{% block body %}
    {% include "header.html" %}
    {% if user.first_name %}
        <h1 style="padding: 10px; padding-left: 20px;">Welcome, {{ user.first_name }}!</h1>
    {% else %}
        <h1 style="padding: 10px; padding-left: 20px;">Welcome, {{ user.username }}!</h1>
    {% endif %}
    <h2>Let's track your expenses together for better financial insights!</h2>
    <ul style="padding-left: 50px;">
        <li>Current balance: {{ current_balance }}</li>
        <li>Total savings: {{ savings }}</li>
    </ul>
    <h3 style="padding: 10px; padding-left: 20px;">{{ month }}, {{ year }}</h3>
    <ul style="padding-left: 50px;">
        <li>Expenses: {{ this_month_expenses }}</li>
        <li>Income: {{ this_month_income }}</li>
        <li>Savings: {{ this_month_savings }}</li>
    </ul>
    <div style="display: flex; gap: 10px; padding: 10px; padding-left: 20px;">
        <form method="get" action="{% url 'add_expenses' %}">
            <button type="submit">Add Listing</button>
        </form>
        <form method="get" action="{% url 'history' %}">
            <button type="submit">History</button>
        </form>
            <div class="dropdown">
                <button class="dropbtn">Summaries</button>
                <div class="dropdown-content">
                    <a href="{% url 'one_week' %}">One week</a>
                    <a href="{% url 'thirty_days' %}">Thirty days</a>
                    <a href="{% url 'year_to_date' %}">Year to date</a>
                </div>
            </div>
        <form method="get" action="{% url 'update_profile' %}">
            <button type="submit">Edit profile</button>
        </form>
    </div>
{% endblock %}