{% extends "layout.html" %}
{% block body %}
    {% include "header.html" %}
    {% if user.first_name %}
        <h1>Welcome, {{ user.first_name }}!</h1>
    {% else %}
        <h1>Welcome, {{ user.username }}!</h1>
    {% endif %}
    <ul>
        <li>My income: {{ income }}</li>
        <li>My savings: {{ savings }}</li>
        <li>My expenses: {{ expenses }}</li>
    </ul>
    <form method="get" action="{% url 'add_expenses' %}">
        <button type="submit">Add money details</button>
    </form>

    <form method="get" action="{% url 'history' %}">
        <button type="submit">Money history</button>
    </form>

    <form method="get" action="{% url 'thirty_days' %}">
        <button type="submit">Expense Summary /30 </button>
    </form>
{% endblock %}